<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <rewrite>
            <rules>
                <rule name="Imported Rule 1" stopProcessing="true">
                    <match url="&quot;.well-known/acme-challenge&quot;" ignoreCase="false" />
                    <action type="None" />
                </rule>
                <rule name="Imported Rule 2">
                    <match url="^(.*)$" ignoreCase="false" />
                    <conditions logicalGrouping="MatchAll">
                        <add input="{REQUEST_FILENAME}" matchType="IsDirectory" ignoreCase="false" negate="true" />
                        <add input="{REQUEST_FILENAME}\.php" matchType="IsFile" ignoreCase="false" />
                    </conditions>
                    <action type="Rewrite" url="{R:1}.php" />
                </rule>
                <rule name="Imported Rule 3">
                    <match url="^(.*)$" ignoreCase="false" />
                    <conditions logicalGrouping="MatchAll">
                        <add input="{REQUEST_FILENAME}" matchType="IsDirectory" ignoreCase="false" negate="true" />
                        <add input="{REQUEST_FILENAME}\.html" matchType="IsFile" ignoreCase="false" />
                    </conditions>
                    <action type="Rewrite" url="{R:1}.html" />
                </rule>
                <rule name="Imported Rule 4">
                    <match url="^([^/]+)/$" ignoreCase="false" />
                    <conditions logicalGrouping="MatchAll">
                        <add input="{REQUEST_FILENAME}" matchType="IsFile" ignoreCase="false" negate="true" />
                    </conditions>
                    <action type="Rewrite" url="{R:1}.php" />
                </rule>
                <rule name="Imported Rule 5">
                    <match url="^([^/]+)/([^/]+)/$" ignoreCase="false" />
                    <action type="Rewrite" url="/{R:1}/{R:2}.php" />
                </rule>
                <rule name="Imported Rule 6" stopProcessing="true">
                    <match url="(.*)$" ignoreCase="false" />
                    <conditions logicalGrouping="MatchAll">
                        <add input="{REQUEST_FILENAME}" matchType="IsFile" ignoreCase="false" negate="true" />
                        <add input="{REQUEST_FILENAME}" matchType="IsDirectory" ignoreCase="false" negate="true" />
                        <add input="{URL}" pattern="(\.[a-zA-Z0-9]{1,5}|/)$" ignoreCase="false" negate="true" />
                    </conditions>
                    <action type="Redirect" url="/{R:1}/" redirectType="Permanent" />
                </rule>
                <rule name="Imported Rule 7">
                    <match url="^([^/]+)/$" ignoreCase="false" />
                    <conditions logicalGrouping="MatchAll">
                        <add input="{REQUEST_FILENAME}" matchType="IsFile" ignoreCase="false" negate="true" />
                    </conditions>
                    <action type="Rewrite" url="{R:1}.html" />
                </rule>
                <rule name="Imported Rule 8">
                    <match url="^([^/]+)/([^/]+)/$" ignoreCase="false" />
                    <action type="Rewrite" url="/{R:1}/{R:2}.html" />
                </rule>
                <rule name="Imported Rule 9" stopProcessing="true">
                    <match url="(.*)$" ignoreCase="false" />
                    <conditions logicalGrouping="MatchAll">
                        <add input="{REQUEST_FILENAME}" matchType="IsFile" ignoreCase="false" negate="true" />
                        <add input="{REQUEST_FILENAME}" matchType="IsDirectory" ignoreCase="false" negate="true" />
                        <add input="{URL}" pattern="(\.[a-zA-Z0-9]{1,5}|/)$" ignoreCase="false" negate="true" />
                    </conditions>
                    <action type="Redirect" url="/{R:1}/" redirectType="Permanent" />
                </rule>
                <rule name="Imported Rule 10">
                    <match url="^utilities/utilidad-fonts/([^/]+)/([^/]+).gif$" ignoreCase="false" />
                    <action type="Rewrite" url="./utilities/utilidad-fonts/index?map={R:1}&amp;tekst={R:2}" appendQueryString="false" />
                </rule>
            </rules>
        </rewrite>
    </system.webServer>
</configuration>
